<!DOCTYPE html>
<html>
<head>
  <title>Flash</title>
  <%= render partial: 'layouts/favicon' %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <header>
      <%= link_to image_tag("logo.png", size: "30x30", class: "logo"), root_path %>
      <nav>
        <%= link_to "#{fa_icon "sort-alpha-asc"}".html_safe, cards_path %>
        <%= fa_icon "tag" %>
      </nav>
    </header>
    <%= yield %>
  </div>
</body>
</html>
